@media screen and (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 956px) {
    .container {
        padding: 0 20px;
    }
    ul li a {
        font-size: 17px;
    }
    .header__slider {
        margin-top: 20px
    }
    .header__texts h3 {
        font-size: 40px;
        line-height: 70px;
        padding-bottom: 10px;
    }
    .header__texts p {
        font-size: 17px;
    }
    /* kursturlari */
    .kursturlari__text h1 {
        font-size: 58px;
    }
    .kursturlari__blocks img {
        width: 130px;
    }
    .kurs__text {
        margin-top: 15px;
    }
    .kurs__text h2 {
        font-size: 35px;
    }
    .kurs__text p {
        font-size: 14px;
    }
    .kursturlari__1hover {
        left: 25px;
    }
    .kursturlari__2hover {
        right: 25px;
    }
    .kursturlari__1hover span {
        padding-top: 0;
        font-size: 13px;
    }
    /* yonalish turlari */
    .yonalishlar__texts h1 {
        font-size: 37px;
    }
    .yonalish__turlari__blocks {
        margin: 0;
    }
    .yonalish__savodxon,
    .yonalish__dizayn,
    .yonalish__frontend,
    .yonalish__backend,
    .yonalish__java,
    .yonalish__robo {
        width: 430px;
    }
    .savodxon__textlogo {
        width: 370px;
    }
    .savodxon__textlogo .savodxon__textlogo__savodxon img {
        width: 70px;
    }
    .savodxon__text h3 {
        font-size: 27px;
    }
    .savodxon__text p {
        font-size: 13px;
    }
    .dizayn__textlogo {
        width: 370px;
    }
    .dizayn__textlogo .dizayn__textlogo__dizayn img {
        width: 80px;
    }
    .dizayn__text h3 {
        font-size: 27px;
    }
    .dizayn__text p {
        font-size: 13px;
    }
    .frontend__textlogo {
        width: 370px;
    }
    .frontend__textlogo .frontend__textlogo__frontend img {
        width: 80px;
    }
    .frontend__text h3 {
        font-size: 27px;
    }
    .frontend__text p {
        font-size: 13px;
    }
    .backend__textlogo {
        width: 370px;
    }
    .backend__textlogo .backend__textlogo__backend img {
        width: 70px;
    }
    .backend__text h3 {
        font-size: 27px;
    }
    .backend__text p {
        font-size: 13px;
    }
    .java__textlogo {
        width: 370px;
    }
    .java__textlogo .java__textlogo__java img {
        width: 80px;
    }
    .java__text h3 {
        font-size: 27px;
    }
    .java__text p {
        font-size: 13px;
    }
    .robo__textlogo {
        width: 370px;
    }
    .robo__textlogo .robo__textlogo__robo img {
        width: 80px;
    }
    .robo__text h3 {
        font-size: 27px;
    }
    .robo__text p {
        font-size: 13px;
    }
    /* ----------------------------------
     ustozlar blocks 
     -------------------------------------*/
    .ustozlar__header h3 {
        font-size: 50px;
    }
    .ustozlar__ism h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .ustozlar__ish p {
        font-size: 15px;
        line-height: 26px;
    }
    .ustozlar__ish h3 {
        font-size: 20px;
    }
    .ustozlar__internet p {
        font-size: 19px;
    }
    .ustozlar__internet a {
        font-size: 14px;
    }
    /* qoshilish blocks
    ==================================== */
    .qoshilish__blocks {
        background-size: 70%;
    }
    .qoshilish__img img {
        width: 450px;
    }
    .qoshilish__texts h1 {
        font-size: 27px;
    }
    /* ichi korinish
    ============================ */
    .ichikorinish__block img {
        width: 400px;
    }
    /* hamkorlik blocks
    ==================================== */
    .hamkorlik__texts h1 {
        font-size: 26px;
    }
    .hamkorlik__texts p {
        font-size: 14px;
    }
    .hamkorlik__imgs img {
        width: 150px;
    }
}

@media screen and (max-width: 955.99px) and (min-width: 756px) {
    .container {
        padding: 0 20px;
    }
    .register {
        height: 100vh;
        top: 0;
    }
    .register__hamkorlik {
        height: 100vh;
        top: 0;
    }
    ul li a {
        font-size: 15px;
    }
    .header__slider {
        margin-top: 20px
    }
    .header__texts h3 {
        font-size: 33px;
        line-height: 63px;
        padding-bottom: 10px;
    }
    .header__texts p {
        font-size: 14px;
    }
    /* kursturlari */
    .kursturlari__1,
    .kursturlari__2 {
        height: 330px;
    }
    .kursturlari__text h1 {
        font-size: 50px;
    }
    .kursturlari__blocks img {
        width: 100px;
    }
    .kurs__text {
        margin-top: 15px;
    }
    .kurs__text h2 {
        font-size: 35px;
    }
    .kurs__text p {
        font-size: 14px;
    }
    .kursturlari__1hover {
        left: 20px;
        height: 330px;
    }
    .kursturlari__2hover {
        right: 20px;
        height: 330px;
    }
    .kursturlari__1hover span {
        padding-top: 0;
        font-size: 12px;
        line-height: 25px;
    }
    /* yonalish turlari */
    .yonalishlar__texts h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .yonalish__turlari__blocks {
        margin: 10px;
    }
    .yonalish__savodxon,
    .yonalish__dizayn,
    .yonalish__frontend,
    .yonalish__backend,
    .yonalish__java,
    .yonalish__robo {
        width: 340px;
        height: 220px;
        margin: 10px 0;
    }
    .savodxon__textlogo {
        width: 300px;
    }
    .savodxon__textlogo__logo img {
        width: 40px;
    }
    .savodxon__textlogo .savodxon__textlogo__savodxon img {
        width: 60px;
    }
    .savodxon__text {
        width: 300px;
    }
    .savodxon__text h3 {
        font-size: 24px;
    }
    .savodxon__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .savodxon__puli h1 {
        font-size: 25px;
    }
    .savodxon__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .dizayn__textlogo {
        width: 300px;
    }
    .dizayn__textlogo__logo img {
        width: 40px;
    }
    .dizayn__textlogo .dizayn__textlogo__dizayn img {
        width: 70px;
    }
    .dizayn__text {
        width: 300px;
    }
    .dizayn__text h3 {
        font-size: 24px;
    }
    .dizayn__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .dizayn__puli h1 {
        font-size: 25px;
    }
    .dizayn__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .frontend__textlogo {
        width: 300px;
    }
    .frontend__textlogo__logo img {
        width: 40px;
    }
    .frontend__textlogo__frontend {
        top: -10px;
        right: -20px;
    }
    .frontend__textlogo .frontend__textlogo__frontend img {
        width: 70px;
    }
    .frontend__text {
        width: 300px;
    }
    .frontend__text h3 {
        font-size: 24px;
    }
    .frontend__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .frontend__puli h1 {
        font-size: 25px;
    }
    .frontend__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .backend__textlogo {
        width: 300px;
    }
    .backend__textlogo__logo img {
        width: 40px;
    }
    .backend__textlogo__backend {
        top: -10px;
        right: -18px;
    }
    .backend__textlogo .backend__textlogo__backend img {
        width: 60px;
    }
    .backend__text {
        width: 300px;
    }
    .backend__text h3 {
        font-size: 24px;
    }
    .backend__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .backend__puli h1 {
        font-size: 25px;
    }
    .backend__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .java__textlogo {
        width: 300px;
    }
    .java__textlogo__logo img {
        width: 40px;
    }
    .java__textlogo__java {
        top: -10px;
        right: -18px;
    }
    .java__textlogo .java__textlogo__java img {
        width: 70px;
    }
    .java__text {
        width: 300px;
    }
    .java__text h3 {
        font-size: 24px;
    }
    .java__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .java__puli h1 {
        font-size: 25px;
    }
    .java__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .robo__textlogo {
        width: 300px;
    }
    .robo__textlogo__logo img {
        width: 40px;
    }
    .robo__textlogo__robo {
        top: -10px;
        right: -20px;
    }
    .robo__textlogo .robo__textlogo__robo img {
        width: 70px;
    }
    .robo__text {
        width: 300px;
    }
    .robo__text h3 {
        font-size: 24px;
    }
    .robo__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .robo__puli h1 {
        font-size: 25px;
    }
    .robo__puli a {
        font-size: 15px;
        padding: 12px;
    }
    /* ----------------------------------
     ustozlar blocks 
     -------------------------------------*/
    .ustozlar__header h3 {
        font-size: 40px;
    }
    .ustozlar__img img {
        width: 170px;
    }
    .ustozlar__ism h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .ustozlar__ish p {
        font-size: 13px;
        line-height: 26px;
    }
    .ustozlar__ish h3 {
        font-size: 17px;
    }
    .ustozlar__internet p {
        font-size: 17px;
    }
    .ustozlar__internet a {
        font-size: 13px;
    }
    /* qoshilish blocks
    ==================================== */
    .qoshilish__blocks {
        background-size: 100%;
        height: 400px;
    }
    .qoshilish__img img {
        width: 400px;
    }
    .qoshilish__texts h1 {
        font-size: 23px;
        line-height: 60px;
    }
    .qoshilish__texts h2 {
        font-size: 70px;
    }
    /* ichi korinish
    ============================ */
    .ichikorinish__header h1 {
        font-size: 27px;
    }
    .ichikorinish__header p {
        font-size: 14px;
    }
    .ichikorinish__block img {
        width: 330px;
    }
    /* hamkorlik blocks
    ==================================== */
    .hamkorlik__texts h1 {
        font-size: 22px;
        line-height: 40px;
    }
    .hamkorlik__texts p {
        font-size: 10px;
        line-height: 20px;
    }
    .hamkorlik__texts span {
        font-size: 13px;
        padding: 10px;
    }
    .hamkorlik__imgs img {
        width: 130px;
    }
}

@media screen and (max-width: 755.99px) and (min-width: 512px) {
    .container {
        padding: 0 20px;
    }
    .register {
        height: 100vh;
        top: 0;
    }
    .register__hamkorlik {
        height: 100vh;
        top: 0;
    }
    .header {
        height: 550px;
    }
    ul {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 35px;
        color: white
    }
    .fa-bars:hover {
        color: rgb(196, 196, 196);
    }
    ul li a {
        font-size: 15px;
    }
    .mobile__bars {
        display: flex;
        transition: .5s ease;
        transform: translateX(100%);
        right: 0;
        top: 0;
        flex-direction: column;
        position: absolute;
        position: fixed;
        border-radius: 10px 0;
        width: 500px;
        height: 100vh;
        background-color: whitesmoke;
        background: url(images/Life\ tech\ mobile\ backround.png), whitesmoke;
        background-position: center;
        background-size: cover;
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .mobile__img {
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 20px;
    }
    .mobile__img img {
        width: 100px;
        padding-right: 15px;
        cursor: pointer;
    }
    .mobile__img h1 {
        font-size: 40px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    }
    .fa-close {
        color: red;
        display: block;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .fa-close:hover {
        color: black;
        cursor: pointer;
    }
    .mobile__text {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    .mobile__text a {
        color: black;
        padding-left: 20px;
        font-size: 18px;
    }
    .mobile__text a:hover {
        color: red;
    }
    .mobile__footer {
        background-color: rgba(0, 0, 0, 0.3);
        height: 250px;
    }
    .mobile__footer h2 {
        font-size: 35px;
        padding: 10px 0 20px 0;
        font-weight: 900;
    }
    .mobile__footer h1 {
        font-size: 40px;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: red;
        padding-bottom: 10px;
    }
    .mobile__footer h3 {
        font-size: 20px;
        color: rgb(54, 54, 54);
    }
    .header__slider {
        margin-top: 20px
    }
    .header__texts {
        width: 500px;
    }
    .header__texts h3 {
        font-size: 23px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    .header__texts p {
        font-size: 12px;
        line-height: 25px;
    }
    .header__texts span {
        width: 200px;
        font-size: 20px;
        margin: 20px 0 0 0;
    }
    .header__img {
        position: absolute;
        right: 0;
        top: 36%;
        width: 250px;
    }
    /* kursturlari */
    .kursturlari__text {
        margin-top: 50px;
    }
    .kursturlari__blocks {
        flex-direction: column;
        margin-top: 50px;
    }
    .kursturlari__1,
    .kursturlari__2 {
        width: 80%;
        height: 330px;
        margin-bottom: 20px;
    }
    .kursturlari__text h1 {
        font-size: 40px;
    }
    .kursturlari__blocks img {
        width: 100px;
    }
    .kurs__text {
        margin-top: 15px;
    }
    .kurs__text h2 {
        font-size: 35px;
    }
    .kurs__text p {
        font-size: 14px;
    }
    .kursturlari__1hover {
        display: none;
    }
    .kursturlari__2hover {
        display: none;
    }
    /* yonalish turlari */
    .yonalishlar__texts h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .yonalishlar__texts p {
        font-size: 15px;
        line-height: 20px;
    }
    .yonalish__turlari__blocks {
        margin: 0;
        justify-content: center;
        flex-direction: column;
    }
    .yonalish__savodxon,
    .yonalish__dizayn,
    .yonalish__frontend,
    .yonalish__backend,
    .yonalish__java,
    .yonalish__robo {
        width: 80%;
        height: 230px;
        margin: 10px;
    }
    .savodxon__textlogo {
        width: 90%;
    }
    .savodxon__textlogo__logo img {
        width: 60px;
    }
    .savodxon__textlogo .savodxon__textlogo__savodxon img {
        width: 80px;
    }
    .savodxon__text {
        width: 100%;
    }
    .savodxon__text h3 {
        font-size: 27px;
        line-height: 45px;
    }
    .savodxon__text p {
        font-size: 13px;
        line-height: 15px;
    }
    .savodxon__puli h1 {
        font-size: 28px;
    }
    .savodxon__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .dizayn__textlogo {
        width: 90%;
    }
    .dizayn__textlogo__logo img {
        width: 60px;
    }
    .dizayn__textlogo .dizayn__textlogo__dizayn img {
        width: 80px;
    }
    .dizayn__text {
        width: 100%;
    }
    .dizayn__text h3 {
        font-size: 27px;
        line-height: 45px;
    }
    .dizayn__text p {
        font-size: 13px;
        line-height: 15px;
    }
    .dizayn__puli h1 {
        font-size: 28px;
    }
    .dizayn__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .frontend__textlogo {
        width: 90%;
    }
    .frontend__textlogo__logo img {
        width: 60px;
    }
    .frontend__textlogo .frontend__textlogo__frontend img {
        width: 80px;
    }
    .frontend__text {
        width: 100%;
    }
    .frontend__text h3 {
        font-size: 27px;
        line-height: 45px;
    }
    .frontend__text p {
        font-size: 13px;
        line-height: 15px;
    }
    .frontend__puli h1 {
        font-size: 28px;
    }
    .frontend__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .backend__textlogo {
        width: 90%;
    }
    .backend__textlogo__logo img {
        width: 60px;
    }
    .backend__textlogo .backend__textlogo__backend img {
        width: 70px;
    }
    .backend__text {
        width: 100%;
    }
    .backend__text h3 {
        font-size: 27px;
        line-height: 45px;
    }
    .backend__text p {
        font-size: 13px;
        line-height: 15px;
    }
    .backend__puli h1 {
        font-size: 28px;
    }
    .backend__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .java__textlogo {
        width: 90%;
    }
    .java__textlogo__logo img {
        width: 60px;
    }
    .java__textlogo .java__textlogo__java img {
        width: 80px;
    }
    .java__text {
        width: 100%;
    }
    .java__text h3 {
        font-size: 27px;
        line-height: 45px;
    }
    .java__text p {
        font-size: 13px;
        line-height: 15px;
    }
    .java__puli h1 {
        font-size: 28px;
    }
    .java__puli a {
        font-size: 15px;
        padding: 12px;
    }
    .robo__textlogo {
        width: 90%;
    }
    .robo__textlogo__logo img {
        width: 60px;
    }
    .robo__textlogo .robo__textlogo__robo img {
        width: 80px;
    }
    .robo__text {
        width: 100%;
    }
    .robo__text h3 {
        font-size: 27px;
        line-height: 45px;
    }
    .robo__text p {
        font-size: 13px;
        line-height: 15px;
    }
    .robo__puli h1 {
        font-size: 28px;
    }
    .robo__puli a {
        font-size: 15px;
        padding: 12px;
    }
    /* ----------------------------------
     ustozlar blocks 
     -------------------------------------*/
    .ustozlar__blocks {
        margin-top: 50px;
    }
    .ustozlar__header {
        margin-bottom: 50px;
    }
    .ustozlar__header h3 {
        font-size: 30px;
    }
    .ustozlar__img img {
        width: 150px;
    }
    .ustozlar__texts__block {
        width: 60%;
    }
    .ustozlar__ism h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .ustozlar__ish p {
        font-size: 12px;
        line-height: 20px;
    }
    .ustozlar__ish h3 {
        font-size: 15px;
    }
    .ustozlar__internet p {
        font-size: 14px;
    }
    .ustozlar__internet a {
        font-size: 12px;
        padding-right: 30px;
    }
    .ustozlar__knopkalar p {
        font-size: 16px;
    }
    /* qoshilish blocks
    ==================================== */
    .qoshilish__blocks {
        background-size: 100%;
        height: 300px;
    }
    .qoshilish__img img {
        width: 300px;
    }
    .qoshilish__texts h1 {
        font-size: 11px;
        line-height: 50px;
    }
    .qoshilish__texts h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .qoshilish__texts p {
        font-size: 8px;
        line-height: 50px;
    }
    /* ichi korinish
    ============================ */
    .ichikorinish__header {
        padding: 7px;
        margin: 10px 0 10px 0;
    }
    .ichikorinish__header h1 {
        font-size: 20px;
        line-height: 40px;
    }
    .ichikorinish__header p {
        font-size: 12px;
        line-height: 30px;
    }
    .ichikorinish__img1,
    .ichikorinish__img2 {
        flex-direction: column;
        align-items: center;
    }
    .ichikorinish__block img {
        width: 400px;
        margin: 10px;
    }
    /* hamkorlik blocks
    ==================================== */
    .hamkorlik__texts h1 {
        font-size: 22px;
        line-height: 40px;
    }
    .hamkorlik__texts p {
        font-size: 10px;
        line-height: 20px;
    }
    .hamkorlik__texts span {
        font-size: 13px;
        padding: 10px;
    }
    .hamkorlik__img1,
    .hamkorlik__img2 {
        flex-direction: column;
    }
    .hamkorlik__imgs img {
        width: 130px;
    }
}

@media screen and (max-width: 511.99px) and (min-width: 300px) {
    .container {
        padding: 0 20px;
    }
    .register {
        width: 100%;
        height: 100%;
        top: 0;
    }
    .register__hamkorlik {
        width: 100%;
        height: 100%;
        top: 0;
    }
    .register__info h2 {
        font-size: 20px;
    }
    .register__info p {
        font-size: 12px;
        padding: 5px 10px;
    }
    .register__input #input {
        width: 280px;
    }
    .register a {
        width: 60%;
        height: 40px;
    }
    .register__hamkorlik a {
        width: 60%;
        height: 40px;
    }
    .register__img {
        margin-top: 20px;
    }
    .header {
        height: 800px;
    }
    ul {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 35px;
        color: white
    }
    .fa-bars:hover {
        color: rgb(196, 196, 196);
    }
    ul li a {
        font-size: 15px;
    }
    .mobile__bars {
        display: flex;
        transition: .5s ease;
        transform: translateX(100%);
        right: 0;
        top: 0;
        flex-direction: column;
        position: absolute;
        position: fixed;
        border-radius: 10px 0;
        width: 100%;
        height: 100vh;
        background-color: whitesmoke;
        background: url(images/Life\ tech\ mobile\ backround.png), whitesmoke;
        background-position: center;
        background-size: cover;
    }
    .mobile__img {
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 20px;
    }
    .mobile__img img {
        width: 60px;
        padding-right: 15px;
        cursor: pointer;
    }
    .mobile__img h1 {
        font-size: 30px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    }
    .fa-close {
        color: red;
        display: block;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .fa-close:hover {
        color: black;
        cursor: pointer;
    }
    .mobile__text {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    .mobile__text a {
        color: black;
        padding-left: 20px;
        font-size: 13px;
    }
    .mobile__text a:hover {
        color: red;
    }
    .mobile__footer {
        background-color: rgba(0, 0, 0, 0.3);
        height: 250px;
    }
    .mobile__footer h2 {
        font-size: 27px;
        padding: 10px 0 20px 0;
        font-weight: 900;
    }
    .mobile__footer h1 {
        font-size: 30px;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: red;
        padding-bottom: 10px;
    }
    .mobile__footer h3 {
        font-size: 17px;
        color: rgb(54, 54, 54);
    }
    .header__slider {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .header__texts {
        width: 100%;
    }
    .header__texts h3 {
        font-size: 18px;
        line-height: 40px;
        padding-bottom: 7px;
    }
    .header__texts p {
        font-size: 10px;
        line-height: 20px;
    }
    .header__texts span {
        width: 170px;
        text-align: center;
        font-size: 17px;
        padding: 7px;
        margin: 20px 0 20px 0;
    }
    /* kursturlari */
    .kursturlari {
        margin-top: 100px;
    }
    .kursturlari__text {
        margin-top: 0px;
    }
    .kursturlari__blocks {
        flex-direction: column;
        margin-top: 30px;
    }
    .kursturlari__1,
    .kursturlari__2 {
        width: 80%;
        height: 300px;
        margin-bottom: 20px;
    }
    .kursturlari__text h1 {
        font-size: 23px;
    }
    .kursturlari__blocks img {
        width: 60px;
    }
    .kurs__text {
        margin-top: 15px;
    }
    .kurs__text h2 {
        font-size: 25px;
    }
    .kurs__text p {
        font-size: 12px;
        line-height: 20px;
    }
    .kursturlari__1hover {
        display: none;
    }
    .kursturlari__2hover {
        display: none;
    }
    /* yonalish turlari */
    .yonalishlar__texts h1 {
        font-size: 27px;
        line-height: 45px;
    }
    .yonalishlar__texts p {
        font-size: 12px;
        line-height: 20px;
    }
    .yonalish__turlari__blocks {
        margin: 0;
        justify-content: center;
        flex-direction: column;
    }
    .yonalish__savodxon,
    .yonalish__dizayn,
    .yonalish__frontend,
    .yonalish__backend,
    .yonalish__java,
    .yonalish__robo {
        width: 80%;
        height: 200px;
        margin: 10px;
    }
    .savodxon__textlogo {
        width: 90%;
    }
    .savodxon__textlogo__logo img {
        width: 30px;
    }
    .savodxon__textlogo .savodxon__textlogo__savodxon img {
        width: 50px;
    }
    .savodxon__text {
        width: 90%;
    }
    .savodxon__text h3 {
        font-size: 20px;
        line-height: 45px;
    }
    .savodxon__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .savodxon__puli h1 {
        font-size: 21px;
    }
    .savodxon__puli a {
        font-size: 11px;
        padding: 7px;
    }
    .dizayn__textlogo {
        width: 90%;
    }
    .dizayn__textlogo__logo img {
        width: 30px;
    }
    .dizayn__textlogo .dizayn__textlogo__dizayn img {
        width: 60px;
    }
    .dizayn__text {
        width: 90%;
    }
    .dizayn__text h3 {
        font-size: 20px;
        line-height: 45px;
    }
    .dizayn__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .dizayn__puli h1 {
        font-size: 21px;
    }
    .dizayn__puli a {
        font-size: 11px;
        padding: 7px;
    }
    .frontend__textlogo {
        width: 90%;
    }
    .frontend__textlogo__logo img {
        width: 30px;
    }
    .frontend__textlogo .frontend__textlogo__frontend img {
        width: 60px;
    }
    .frontend__text {
        width: 90%;
    }
    .frontend__text h3 {
        font-size: 20px;
        line-height: 45px;
    }
    .frontend__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .frontend__puli h1 {
        font-size: 21px;
    }
    .frontend__puli a {
        font-size: 11px;
        padding: 7px;
    }
    .backend__textlogo {
        width: 90%;
    }
    .backend__textlogo__logo img {
        width: 30px;
    }
    .backend__textlogo .backend__textlogo__backend img {
        width: 50px;
    }
    .backend__text {
        width: 90%;
    }
    .backend__text h3 {
        font-size: 20px;
        line-height: 45px;
    }
    .backend__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .backend__puli h1 {
        font-size: 21px;
    }
    .backend__puli a {
        font-size: 11px;
        padding: 7px;
    }
    .java__textlogo {
        width: 90%;
    }
    .java__textlogo__logo img {
        width: 30px;
    }
    .java__textlogo .java__textlogo__java img {
        width: 60px;
    }
    .java__text {
        width: 90%;
    }
    .java__text h3 {
        font-size: 20px;
        line-height: 45px;
    }
    .java__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .java__puli h1 {
        font-size: 21px;
    }
    .java__puli a {
        font-size: 11px;
        padding: 7px;
    }
    .robo__textlogo {
        width: 90%;
    }
    .robo__textlogo__logo img {
        width: 30px;
    }
    .robo__textlogo .robo__textlogo__robo img {
        width: 60px;
    }
    .robo__text {
        width: 90%;
    }
    .robo__text h3 {
        font-size: 20px;
        line-height: 45px;
    }
    .robo__text p {
        font-size: 11px;
        line-height: 15px;
    }
    .robo__puli h1 {
        font-size: 21px;
    }
    .robo__puli a {
        font-size: 11px;
        padding: 7px;
    }
    /* ----------------------------------
     ustozlar blocks 
     -------------------------------------*/
    .ustozlar__blocks {
        margin-top: 30px;
    }
    .ustozlar__header {
        margin-bottom: 30px;
    }
    .ustozlar__header h3 {
        font-size: 20px;
    }
    .ustozlar__img img {
        width: 100px;
    }
    .ustozlar__texts__block {
        width: 60%;
    }
    .ustozlar__ism h2 {
        font-size: 17px;
        line-height: 20px;
    }
    .ustozlar__ish p {
        font-size: 9px;
        line-height: 15px;
    }
    .ustozlar__ish h3 {
        font-size: 12px;
    }
    .ustozlar__internet p {
        font-size: 10px;
    }
    .ustozlar__internet a {
        font-size: 8px;
        padding-right: 10px;
    }
    .ustozlar__knopkalar p {
        font-size: 10px;
        padding: 1px 2px;
        margin: 2px;
    }
    /* qoshilish blocks
    ==================================== */
    .qoshilish__blocks {
        background-size: 100%;
        height: 200px;
    }
    .qoshilish__img img {
        width: 180px;
    }
    .qoshilish__texts h1 {
        font-size: 9px;
        line-height: 30px;
    }
    .qoshilish__texts h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .qoshilish__texts p {
        font-size: 7px;
        line-height: 50px;
    }
    .qoshilish__texts a {
        padding: 10px 15px;
        font-size: 12px;
    }
    /* ichi korinish
    ============================ */
    .ichikorinish__header {
        padding: 7px;
        margin: 10px 0 10px 0;
    }
    .ichikorinish__header h1 {
        font-size: 14px;
        line-height: 30px;
    }
    .ichikorinish__header p {
        font-size: 9px;
        line-height: 20px;
    }
    .ichikorinish__img1,
    .ichikorinish__img2 {
        flex-direction: column;
        align-items: center;
    }
    .ichikorinish__block img {
        width: 250px;
        margin: 10px;
    }
    /* hamkorlik blocks
    ==================================== */
    .hamkorlik__blocks {
        margin-top: 50px;
    }
    .hamkorlik__block {
        flex-direction: column;
    }
    .hamkorlik__texts {
        margin: 0;
        width: 100%;
    }
    .hamkorlik__texts h1 {
        font-size: 22px;
        line-height: 40px;
    }
    .hamkorlik__texts p {
        font-size: 10px;
        line-height: 20px;
    }
    .hamkorlik__texts span {
        font-size: 13px;
        padding: 10px;
    }
    .hamkorlik__img1,
    .hamkorlik__img2 {
        flex-direction: column;
    }
    .hamkorlik__imgs img {
        width: 130px;
    }
}